@import "variables";
@import "header";
@import "footer";
@import "front-page";
@import "cta";

/* ==========
   GLOBAL LAYOUT
   ========== */
html,
body {
    margin: 0;
    padding: 0;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    color: $wellpeak-brown;
    font-family: "Noto Sans JP", sans-serif;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

/* global layout */
.container {
    width: calc(100% - (var(--page-gutter) * 2));
    margin: 0 auto;
    box-sizing: border-box;
}

.site-header .bar,
.footer-inner {
    @extend .container;
}
.fullwidth {
    width: 100%;
    margin: 0;
    padding: 0;
}
